<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="col-4 col-12-mobile">
        <section>
          <h2>Про проект</h2>
          <p>
            <strong>WATCHDIARY</strong> — медіа-бібліотека для фільмів, серіалів
            та аніме.
          </p>
        </section>
      </div>
      <div class="col-4 col-12-mobile">
      </div>
      <div class="col-4 col-12-mobile">
        <section>
          <h2>Команда</h2>
          <ul class="divided">
            <li>
              <a
                href="https://github.com/Gilaneth/WatchDiary"
                class="icon brands fa-github"
              >
                GitHub</a
              >
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; 2026 WATCHDIARY.</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
